
# Optional: catch-all
**/node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment files
frontend/.env
backend/.env

# Build output
frontend/build/
backend/build/

# IDEs and system files
.DS_Store
.vscode/
.idea/
