.ring {
  border-top: 5px solid #f8f8f8;
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  animation: ring 1s linear infinite;
}

@keyframes ring {
  0% {
    transform: rotate(0deg);
    box-shadow: 1px 5px 2px #073ef2;
  }
  50% {
    transform: rotate(180deg);
    box-shadow: 1px 5px 2px #f12a2a;
  }
  100% {
    transform: rotate(360deg);
    box-shadow: 1px 5px 2px #9ff008;
  }
}

.ring::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(95, 89, 89, 0.3);
}
